<div class="div-titulo-lista">
    <label>Pokédex</label>
    <div>
        <button (click)="voltarPagina()" [disabled]="disabled">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
        </button>
        <button (click)="avancarPaginacao()" [disabled]="disabled">
            <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
    </div>
</div>
<div class="div-lista" *ngIf="!loading">
    <div class="card-branco" *ngFor="let pokemon of listaPokemon; let key = index" (click)="abrirModal(pokemon)">
        <div class="titulo-card">
            <label class="nome">{{ converterPrimeiraLetraParaMaiuscula(pokemon.name) }}</label>
            <label class="id">#{{ pokemon.id }}</label>
        </div>
        <div class="imagem-card">
            <img src="{{ pokemon.sprites.other['official-artwork'].front_default }}" alt="imagemPoke">
        </div>
        <div class="descricao-card">
            <label class="nome-dados">Altura:</label>
            <label class="dados">{{ pokemon.height }} cm</label>
        </div>
        <div class="descricao-card">
            <label class="nome-dados">Peso:</label>
            <label class="dados">{{ pokemon.weight }} kg</label>
        </div>
    </div>
</div>
<div class="div-lista" *ngIf="loading">
    <div class="pokemon">
    </div>
</div>
