<div class="div-banner">
    <div class="div-titulo">
        <img src="assets/svg/logo.svg" alt="SVG Image">
        <label class="titulo-banner">Explore o mundo dos <span>Pokémons</span></label>
        <label class="sub-titulo-banner">Descubra todas as espécies de Pokémons</label>
        <div class="div-search">
            <input type="text" id="search" name="search">
            <button>Buscar</button>
        </div>
    </div>
    <div>
        <img src="assets/svg/banner.svg" alt="SVG Image">
    </div>
</div>