<div class="div-banner">
    <div class="div-titulo">
        <img class="img-logo" src="assets/svg/logo.svg" alt="SVG Image">
        <label class="titulo-banner">Explore o mundo dos <span>Pokémons</span></label>
        <label class="sub-titulo-banner">Descubra todas as espécies de Pokémons</label>
        <form class="div-search" (submit)="buscaPokemon($event, nome.value)">
            <input type="text" id="search" name="search" [disabled]="disabled" #nome>
            <button type="submit" [disabled]="disabled">Buscar</button>
        </form>
    </div>
    <img class="img-banner" src="assets/svg/banner.svg" alt="SVG Image">
</div>